/* body{
    background-image: url("https://i.pinimg.com/736x/3a/74/1c/3a741cfc41b1b2b32428065de046e355.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; 
} */

#title{
    color: green;
    font-size: 19px;
    text-align: center;
    background-color: black;
}

#course-name{
    color: yellow;
}

.container{
    font-weight: bold;
    background-color: #0cc7b3;
    padding: 10px;
    border-radius: 10px;
}

img{
    border-radius: 7px;
}

/* Properties */
/* Text align - Text alignments major Center alignment */
/* background colour - changing the background color */
/* padding - Spacing between the content and its border */
/* border-radius - Rounded corners for borders */