body{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header header" 
    "sidebar content" 
    "footer footer"
    ;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
    gap: 10px;
    padding: 10px;
}

.item{
    background-color: #3498db;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}