/* Box Model Configuration part */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #333;
    color: white;
    padding: 15px 50px;
}

nav h1{
    font-size: 20px;
    display: inline-block;
}

nav ul{
    display: inline-block;
    margin-left: 50px;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.herosection{
    background-image: url("https://i.pinimg.com/736x/7c/b3/ad/7cb3ad483b184abde16e4a8bb220da9a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.boxes{
    width: 80%;
    margin: 50px auto;
}

/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
} */

.box{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    padding: 20px;
}

.product-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 15px;
    border-radius: 10px;
}

.product-image{
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 7px;
}

.product-title{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.product-price{
    font-size: 16px;
    color: orange;
}

.btn-container{
    padding: 10px 14px;
}

button{
    width: 100px;
    padding: 10px;
}